{
	"$schema": "https://json.schemastore.org/prettierrc",
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-pkg",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
